/* Modo claro */
[data-md-color-scheme="claro"] {
    --md-text-color: #000000 !important;
  }
  
  /* Aplica cor preta aos títulos e texto no modo claro */
  [data-md-color-scheme="claro"] .md-typeset
  [data-md-color-scheme="claro"] .md-typeset h1,
  [data-md-color-scheme="claro"] .md-typeset h2,
  [data-md-color-scheme="claro"] .md-typeset h3,
  [data-md-color-scheme="claro"] .md-typeset h4,
  [data-md-color-scheme="claro"] .md-typeset h5,
  [data-md-color-scheme="claro"] .md-typeset h6,
  [data-md-color-scheme="claro"] .md-typeset p,
  [data-md-color-scheme="claro"] .md-typeset li,
  [data-md-color-scheme="claro"] .md-typeset span,
  [data-md-color-scheme="claro"] .md-typeset a {
    color: #000000 !important;
  }
  
  /* Modo escuro */
  [data-md-color-scheme="slate"] {
    --md-text-color: #ffffff !important;
  }
  
  /* Aplica cor branca aos títulos e texto no modo escuro */
  [data-md-color-scheme="slate"] .md-typeset,
  [data-md-color-scheme="slate"] .md-typeset h1,
  [data-md-color-scheme="slate"] .md-typeset h2,
  [data-md-color-scheme="slate"] .md-typeset h3,
  [data-md-color-scheme="slate"] .md-typeset h4,
  [data-md-color-scheme="slate"] .md-typeset h5,
  [data-md-color-scheme="slate"] .md-typeset h6,
  [data-md-color-scheme="slate"] .md-typeset p,
  [data-md-color-scheme="slate"] .md-typeset li,
  [data-md-color-scheme="slate"] .md-typeset span,
  [data-md-color-scheme="slate"] .md-typeset a {
    color: #ffffff !important;
  }
  